## Using functions from scripts

One can import classes and funtions from scripts in the same folder using the name of the file in question. In this ase the file is *tools.py*. THus we do the following to import them. It is also possible to set an alias for ease of use.

In [1]:
import tools as tls

The data cleaning functions are methods of the **data_cleaner** class object. Thus to use them we can create one such object and call the specific methods when they are needed.

In [2]:
cleaner = tls.data_cleaner()

We can access the methods in the same way as any other known object from different packages. The decotring explains what each of the functions does, and we can see the arguement that need to be provided.

### Getting the historical temperatures

In [3]:
df_temp_hist = cleaner.temp_hist('tas_1991_2016_all.csv')

df_temp_hist.dtypes

Temperature    float64
Year             int64
Month            int64
Name            object
Country         object
dtype: object

### Getting projected temperatures

In [4]:
df_temp_proj = cleaner.temp_proj('tas_2020_2039_mavg_rcp26_AFG_CAF.csv')
df_temp_proj

,Temperature,Year,Model,Month,Name,Country
0,-0.722796,2020-2039,bcc_csm1_1,1,Afghanistan,AFG
1,1.788925,2020-2039,bcc_csm1_1,2,Afghanistan,AFG
2,6.647932,2020-2039,bcc_csm1_1,3,Afghanistan,AFG
3,13.529653,2020-2039,bcc_csm1_1,4,Afghanistan,AFG
4,18.811602,2020-2039,bcc_csm1_1,5,Afghanistan,AFG
...,...,...,...,...,...,...
45139,1.701721,2020-2039,Ensemble (90th Percentile),8,Zimbabwe,ZWE
45140,1.770244,2020-2039,Ensemble (90th Percentile),9,Zimbabwe,ZWE
45141,2.253327,2020-2039,Ensemble (90th Percentile),10,Zimbabwe,ZWE
45142,2.153784,2020-2039,Ensemble (90th Percentile),11,Zimbabwe,ZWE
45143,2.022116,2020-2039,Ensemble (90th Percentile),12,Zimbabwe,ZWE

### Getting climate factors

In [6]:
df_rain, df_temp, df_water, df_climate_factors = cleaner.climate_factors('raw data/WORLDBANK_rainfall.csv', 'raw data/WORLDBANK_temperature.csv', 'raw data/AQUASTAT_water_resources.csv')

In [7]:
df_climate_factors

,Country,Temperature (Â°C),Total Rainfall (mm),Total internal renewable water resources (IRWR),Total external renewable water resources (ERWR),Total renewable water resources,Dependency ratio,Total exploitable water resources
0,AFG,13.909009,353.323550,47.1500,18.18,65.3300,28.722600,NaN
1,AGO,22.060929,958.376457,148.0000,0.40,148.4000,0.269542,NaN
2,ALB,12.759120,1074.030807,26.9000,3.30,30.2000,10.927152,13.000
3,AND,12.377369,791.158287,0.3156,NaN,0.3156,NaN,NaN
4,ARE,27.920064,70.675403,0.1500,0.00,0.1500,0.000000,NaN
...,...,...,...,...,...,...,...,...
197,WSM,27.483938,3326.067200,NaN,0.00,0.0000,0.000000,NaN
198,YEM,24.202763,158.567780,2.1000,0.00,2.1000,0.000000,NaN
199,ZAF,18.486712,402.038393,44.8000,6.55,51.3500,12.840467,11.972
200,ZMB,22.310020,926.372197,80.2000,24.60,104.8000,23.473282,NaN
201,ZWE,21.871805,537.581760,12.2600,7.74,20.0000,38.700000,1.500

### Getting water stress indicators

In [5]:
df_waterstress = cleaner.water_stress('raw data/AQUASTAT_water_stress.csv')
df_waterstress

Variable Name,Country,Water stress (MDG),Water use efficiency (SDG),Water stress (SDG)
0,AFG,31.045462,0.923778,54.757019
1,AGO,0.475539,142.467836,1.871883
2,ALB,3.933775,6.656907,7.139423
3,ARE,1708.000000,92.773763,1708.000000
4,ARG,4.301333,13.616564,10.456664
...,...,...,...,...
175,VNM,9.259150,2.349448,18.130315
176,YEM,169.761905,5.219357,169.761905
177,ZAF,37.740993,14.659097,62.055716
178,ZMB,1.500000,12.764894,2.835498
179,ZWE,16.695000,5.213329,31.346226

### Getting socio economic factors

In [9]:
aqua = 'raw data/aquastat_socio_economic.csv'
unicef = 'raw data/unicef_socio_economic.csv'
df_aqua, df_unicef = cleaner.socioecon_factors(aqua, unicef)

In [10]:
df_unicef

                                                Indicator Country  Time  Value
0                Fertility rate, total (births per woman)     AUS  2000    1.8
1                Fertility rate, total (births per woman)     AUS  2001    1.7
2                Fertility rate, total (births per woman)     AUS  2002    1.8
3                Fertility rate, total (births per woman)     AUS  2003    1.7
4                Fertility rate, total (births per woman)     AUS  2004    1.8
...                                                   ...     ...   ...    ...
133768  Prevalence of HIV, total (% of population ages...     LBY  2015    0.2
133769  Prevalence of HIV, total (% of population ages...     LBY  2016    0.2
133770  Prevalence of HIV, total (% of population ages...     LBY  2017    0.2
133771  Prevalence of HIV, total (% of population ages...     LBY  2018    0.2
133772  Prevalence of HIV, total (% of population ages...     LBY  2019    0.2

[81364 rows x 4 columns]

In [11]:
df_aqua

,Country,Variable,1998-2002,2003-2007,2008-2012,2013-2017
0,AFG,Rural population (1000 inhab),17086.91,20464.923,23280.663,26558.609
1,AFG,Urban population (1000 inhab),4893.013,6151.869,7416.295,8971.472
2,AFG,Population density (inhab/km2),34.6180957633,41.5104861686,47.73056398,55.5955534111
3,AFG,GDP per capita (current US$/inhab),194.958382,389.985586,694.885618,605.557362
4,AFG,Human Development Index (HDI) [highest = 1] (-),0.378,0.431,0.479,0.493
...,...,...,...,...,...,...
2181,ZMB,GDP per capita (current US$/inhab),377.129939,1104.582234,1690.361466,1513.27609
2182,ZMB,Human Development Index (HDI) [highest = 1] (-),0.445,0.492,0.552,0.589
2185,ZMB,Total population with access to safe drinking-...,54.7,59.0,63.0,65.4
2186,ZMB,Rural population with access to safe drinking-...,36.9,42.5,48.0,51.3
2187,ZMB,Urban population with access to safe drinking-...,87.1,86.5,85.9,85.6

## Checking countries

Need to see what country codes are shared across all datasets. The AQUA and Unicef datasets arleady have been cheked across each other. Tus can just use on of the two.

In [12]:
set_temp = set.intersection(set(df_temp_hist['Country']), set(df_temp_proj['Country']))
set_climate = set.intersection(set(df_rain['Country']), set(df_inflow['Country']))
shared_countries = set.intersection(set_temp, set_climate, set(df_aqua['Country']))

KeyError: 'Country'

In [ ]:
len(shared_countries)

Thus we have 135 countries that are shared across the datasets. We will write a seperate *.csv* file that includes all these countries.

In [ ]:
import pandas as pd
shared = pd.DataFrame(list(shared_countries))
shared.to_csv('shared_country_codes.csv')